.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  background: white;
  transition: all 0.1s ease-out;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.media {
  height: 0;
  padding-top: 56.25%;
}

.content {
  flex: 1;
  max-height: 250px;
  overflow: hidden;
}

.delete {
  margin-left: auto !important;
}

.liked {
  animation: pulse 1s ease-in infinite running;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
