.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    .overlay {
        opacity: 0.3;
    }

    .image {
        transform: scale(1.05);
    }

    .delete {
        display: inline-block !important;
    }

    .likes {
        display: flex;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: #000;
    border-radius: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.imageContainer {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 4px;
    z-index: 1;
}

.title {
    font-size: 14px;
    line-height: 22px;
}

.delete {
    display: none !important;

    &:hover {
        color: #D50000;
    }
}

.likes {
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
    align-items: center;
    font-size: 14px;
    display: none;
    z-index: 1;

    &:hover {
        color: #FFCDD2;
    }
}

.liked {
    margin-right: 4px
}

.modal {
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    outline: none;
}

.close {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}

.button {
    width: 200px;
}